<section class="section d-flex justify-content-center align-items-center">
  <div class="containere rounded-5 d-flex">
    <div class="col-8 h-100 d-flex align-items-center">
      <div class="form ms-5 d-flex flex-column justify-content-start p-3">
        <h4 class="logo mt-3 fw-bold">RealiText</h4>
        <small class="mt-1 mb-2" style="font-size: 16px; font-weight: normal"
          >Welcome back !!!</small
        >
        <h1 class="fw-bold maintxt">Log In</h1>
        <form class="mt-3 d-flex flex-column w-75">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label smalltxt"
              >Email</label
            >
            <input
              type="email"
              class="form-control customeinput"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Login@email.com"
            />
          </div>
          <div class="d-flex justify-content-between w-100 mt-2">
            <label for="Password" class="form-label smalltxt">Password</label>
            <span class="smalltxt" style="font-size: 14px; opacity: 0.5"
              >Forget Password?</span
            >
          </div>
          <div class="input-group mb-3 w-100 position-relative">
            <input
              type="password"
              class="form-control customeinput"
              placeholder="Password"
              aria-label="Password"
              id="Password"
              aria-describedby="basic-addon2"
            />
            <i class="bi bi-eye-slash eyeicon position-absolute"></i>
          </div>
          <div
            class="w-100 d-flex justify-content-center align-items-center mt-4"
          >
            <button class="btn customebtn rounded-5">
              <span class="buttontxt me-2">LOGIN</span>
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </form>
        <div class="w-75 d-flex justify-content-center continue">
          <span>or continue with</span>
        </div>
        <div class="w-75 mt-3 d-flex justify-content-center">
          <button class="btn w-75 mx-auto cutomebtn2 rounded-5">
            <img src="/images/Google.png" alt="" width="25px" />
          </button>
        </div>
        <div class="change w-75 d-flex justify-content-center mt-3">
          <span class="dont-have-account"
            >Don't have an account yet?&nbsp;&nbsp;</span
          ><a class="signup">Sign Up For Free</a>
        </div>
      </div>
    </div>
    <div class="col-4 h-100 side rounded-5 position-relative">
      <img src="/images/loginwoman.png" alt="loginimg" class="loginimg" />
      <img
        src="/images/cactus.png"
        alt="loginimg2"
        class="loginimg2 position-absolute"
      />
    </div>
  </div>
</section>
