<section class="background d-flex flex-column justify-content-evenly align-items-center" style="background-color:darkblue; height: 100vh; ; " >
    <div class="background d-flex flex-column justify-content-evenly align-items-center" style="background-color:aliceblue; height: 10h;">
        <div class="image-container">
         <img src="/images/photo.png" alt="Logo" width="200px" >
        </div>

      <div class="w-100 d-flex">
      <div class="form-floating col-6">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating col-6">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
    </div>
      <button class="btn btn-light">Login</button>
    </div>
    
</section>